In [1]:
import pandas as pd
import re
import altair as alt
pd.set_option('display.max_columns', None)

In [2]:
final = pd.read_csv('./ENDIREHfinal.csv', encoding='latin-1')
final[:1]

,Unnamed: 0.1,Edad,Identificador de la mujer,Identificador de vivienda seleccionada,Factor de expansión de la vivienda,Factor de expansión mujer,Situación laboral,Salario,Autonomía para usar los recursos monetarios en lo que se desee,Aporte económico por parte de la pareja o expareja de la informante,Cantidad de la aportación económica,Ingreso por jubilación o pensión,Ingreso por parte de familiares o conocidos que vivan en Estados Unidos de América,Ingreso por parte de familiares o conocidos que viven dentro del país.,Ingreso por beca escolar para sus hijos e hijas,Ingreso por beca escolar propia,Ingreso por pertenecer a algún programa del gobierno,Ingreso por otro medio,Unnamed: 0,"Avergonzamiento, ofensa, menosprecio o humillación",Invisibilización y falta de cariño,Afirmación de engaño,Sensación de miedo,Amenazas,Encerramiento y prohibiciones,Acecho,Controlar,Amenaza con arma o de quemadura,"Amenaza de homicidio, suicidio o filicidio",Destruir u ocultar artículos personales o del hogar,Ignorar,Revisar el correo electrónico o celular,Manipular a hijos y parientes,Inconformidad por quehaceres domésticos,Intimidación y acecho psicológico por medios digitales o mediáticos en la relación de pareja,Factor de expansión de las mujeres elegidas
0,0,32,0100003.01.1.02,100003.01,113,113,1,10000.0,1,1.0,6000.0,2,2,2,2,2,2,2,0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,113

In [3]:
final = final.astype(str)

In [4]:
final.replace(r"(\.0)", "", inplace=True, regex=True)

In [5]:
final.set_index('Situación laboral').sort_values(by=['Situación laboral']).reset_index()

,Situación laboral,Unnamed: 0.1,Edad,Identificador de la mujer,Identificador de vivienda seleccionada,Factor de expansión de la vivienda,Factor de expansión mujer,Salario,Autonomía para usar los recursos monetarios en lo que se desee,Aporte económico por parte de la pareja o expareja de la informante,Cantidad de la aportación económica,Ingreso por jubilación o pensión,Ingreso por parte de familiares o conocidos que vivan en Estados Unidos de América,Ingreso por parte de familiares o conocidos que viven dentro del país.,Ingreso por beca escolar para sus hijos e hijas,Ingreso por beca escolar propia,Ingreso por pertenecer a algún programa del gobierno,Ingreso por otro medio,Unnamed: 0,"Avergonzamiento, ofensa, menosprecio o humillación",Invisibilización y falta de cariño,Afirmación de engaño,Sensación de miedo,Amenazas,Encerramiento y prohibiciones,Acecho,Controlar,Amenaza con arma o de quemadura,"Amenaza de homicidio, suicidio o filicidio",Destruir u ocultar artículos personales o del hogar,Ignorar,Revisar el correo electrónico o celular,Manipular a hijos y parientes,Inconformidad por quehaceres domésticos,Intimidación y acecho psicológico por medios digitales o mediáticos en la relación de pareja,Factor de expansión de las mujeres elegidas
0,1,0,32,01000031.12,1000031,113,113,10000,1,1,6000,2,2,2,2,2,2,2,0,4,4,4,2,4,4,4,4,4,4,4,4,4,4,4,4,113
1,1,86726,38,26017933.12,26017933,207,414,2000,1,1,10000,2,2,2,2,2,2,2,86726,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,414
2,1,86725,55,26017932.11,26017932,207,207,6000,2,nan,nan,2,2,2,2,2,2,2,86725,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,207
3,1,86724,18,26017931.12,26017931,207,414,2000,1,nan,nan,1,2,2,2,2,1,2,86724,4,4,4,4,4,4,4,4,4,4,4,4,4,nan,nan,4,414
4,1,43237,28,1360310.19.14,1360310.19,236,708,5000,1,nan,nan,2,2,2,2,2,2,2,43237,4,4,2,4,4,4,4,4,4,4,4,4,4,nan,nan,4,708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110122,2,47855,23,14614073.12,14614073,750,750,nan,2,1,5400,2,2,2,2,2,2,2,47855,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,750
110123,2,47854,79,14614071.12,14614071,750,750,nan,1,2,nan,2,2,2,2,2,1,2,47854,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,750
110124,2,47853,59,1461352.20.12,1461352.2,889,889,nan,2,nan,nan,2,2,1,2,2,2,2,47853,4,4,4,4,4,4,4,4,4,4,4,4,4,nan,nan,4,889
110125,2,47864,25,1461407.13.12,1461407.13,750,750,nan,2,1,11600,2,2,2,2,2,2,2,47864,4,2,4,4,4,4,4,2,4,4,4,2,4,4,4,4,750
110126,2,110126,18,3260787.18.13,3260787.18,64,128,nan,1,nan,nan,2,2,2,2,2,2,2,110126,4,4,4,4,4,4,4,4,4,4,4,4,4,nan,nan,4,128

In [6]:
final = final.astype({'Edad':'int'})
final['Salario'] = final['Salario'].replace('999998','No sabe')
final['Salario'] = final['Salario'].replace('000000','No recibe ingresos')

In [7]:
final['rango_edad']=pd.cut(final.Edad, 8, precision=0, right=False, labels=["De 15 a 25", "De 26 a 36", "De 37 a 46", "De 47 a 56", "De 57 a 67", "De 68 a 77", "De 78 a 88", "De 89 a 98"])

In [8]:
df = pd.read_csv('./conjunto_de_datos_endireh_2021_csv/conjunto_de_datos_TB_SEC_IV/conjunto_de_datos/conjunto_de_datos_TB_SEC_IV.csv', encoding='latin-1')

In [9]:
df.replace(r"\r", "", inplace=True, regex=True)

In [10]:
periodicidad = df[['ID_PER','P4_1','P4_2','P4_2_1']].copy()

In [11]:
periodicidad["P4_2"] = pd.to_numeric(periodicidad["P4_2"], errors="coerce")

In [12]:
periodicidad

                 ID_PER  P4_1      P4_2 P4_2_1
0       0100003.01.1.02     1   10000.0      3
1       0100003.02.1.02     2       NaN
2       0100003.03.1.03     2       NaN
3       0100003.05.1.02     1    8500.0      3
4       0100004.01.1.02     1     400.0      1
...                 ...   ...       ...    ...
110122  3260787.14.1.02     1  999998.0
110123  3260787.15.1.02     1     750.0      1
110124  3260787.16.1.01     2       NaN
110125  3260787.17.1.02     2       NaN
110126  3260787.18.1.03     2       NaN

[110127 rows x 4 columns]

In [13]:
periodicidad.drop(periodicidad[periodicidad['P4_2'] == 999998].index, inplace = True)

In [14]:
periodicidad.drop(periodicidad[periodicidad['P4_2'] == 999999].index, inplace = True)

In [15]:
periodicidad.drop(periodicidad[periodicidad['P4_2'] == 999997].index, inplace = True)

In [16]:
periodicidad

                 ID_PER  P4_1     P4_2 P4_2_1
0       0100003.01.1.02     1  10000.0      3
1       0100003.02.1.02     2      NaN
2       0100003.03.1.03     2      NaN
3       0100003.05.1.02     1   8500.0      3
4       0100004.01.1.02     1    400.0      1
...                 ...   ...      ...    ...
110121  3260787.13.1.01     1    200.0      1
110123  3260787.15.1.02     1    750.0      1
110124  3260787.16.1.01     2      NaN
110125  3260787.17.1.02     2      NaN
110126  3260787.18.1.03     2      NaN

[106069 rows x 4 columns]

In [17]:
semanal = periodicidad[periodicidad['P4_2_1'] == '1']
semanal['al mes'] = semanal['P4_2']*4

C:\Users\cynhe\AppData\Local\Temp\ipykernel_19492\3274089002.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semanal['al mes'] = semanal['P4_2']*4

In [18]:
semanal

                 ID_PER  P4_1    P4_2 P4_2_1  al mes
4       0100004.01.1.02     1   400.0      1  1600.0
5       0100004.02.1.01     1  1000.0      1  4000.0
6       0100004.03.1.02     1  1000.0      1  4000.0
12      0100032.01.1.01     1  1200.0      1  4800.0
16      0100032.05.1.02     1  1000.0      1  4000.0
...                 ...   ...     ...    ...     ...
110107  3260779.14.1.02     1  2000.0      1  8000.0
110112  3260779.20.1.02     1  1000.0      1  4000.0
110114  3260787.03.1.02     1  1000.0      1  4000.0
110121  3260787.13.1.01     1   200.0      1   800.0
110123  3260787.15.1.02     1   750.0      1  3000.0

[25464 rows x 5 columns]

In [19]:
quincenal = periodicidad[periodicidad['P4_2_1'] == '2']
quincenal['al mes'] = quincenal['P4_2']*2

C:\Users\cynhe\AppData\Local\Temp\ipykernel_19492\3869752187.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quincenal['al mes'] = quincenal['P4_2']*2

In [20]:
quincenal

                 ID_PER  P4_1    P4_2 P4_2_1   al mes
10      0100013.05.3.03     1  5800.0      2  11600.0
20      0100036.04.1.01     1  2500.0      2   5000.0
45      0100055.02.1.03     1  3000.0      2   6000.0
90      0100106.05.1.02     1  3000.0      2   6000.0
108     0100124.04.1.02     1  5000.0      2  10000.0
...                 ...   ...     ...    ...      ...
110084  3260770.06.1.02     1  2900.0      2   5800.0
110099  3260779.03.1.01     1  7000.0      2  14000.0
110103  3260779.09.1.02     1  1300.0      2   2600.0
110106  3260779.13.1.05     1  2000.0      2   4000.0
110120  3260787.09.1.02     1  4000.0      2   8000.0

[7648 rows x 5 columns]

In [21]:
mensual = periodicidad[periodicidad['P4_2_1'] == '3']
mensual['al mes'] = mensual['P4_2']

C:\Users\cynhe\AppData\Local\Temp\ipykernel_19492\3538474599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mensual['al mes'] = mensual['P4_2']

In [22]:
nosabe = periodicidad[periodicidad['P4_2_1'] == '8']
nosabe['al mes'] = nosabe['P4_2']

C:\Users\cynhe\AppData\Local\Temp\ipykernel_19492\3343773200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nosabe['al mes'] = nosabe['P4_2']

In [23]:
almestotal = pd.concat([semanal, quincenal, mensual, nosabe], axis = 0)

In [24]:
almestotal

                 ID_PER  P4_1    P4_2 P4_2_1  al mes
4       0100004.01.1.02     1   400.0      1  1600.0
5       0100004.02.1.01     1  1000.0      1  4000.0
6       0100004.03.1.02     1  1000.0      1  4000.0
12      0100032.01.1.01     1  1200.0      1  4800.0
16      0100032.05.1.02     1  1000.0      1  4000.0
...                 ...   ...     ...    ...     ...
98760   2901827.04.1.02     1  2000.0      8  2000.0
100103  3001708.05.1.02     1   200.0      8   200.0
104458  3102215.03.1.03     1   200.0      8   200.0
106350  3160334.13.1.02     1  1500.0      8  1500.0
109930  3260714.10.1.02     1  5000.0      8  5000.0

[44489 rows x 5 columns]

In [69]:
salariosmensualtrabajan = almestotal[almestotal['P4_1'] == 1]

In [70]:
salariosmensualtrabajan['al mes'].sort_values(ascending=False)

88026     2000000.0
49971      800000.0
4587       206804.0
30576      200000.0
2379       170000.0
            ...
100562          6.0
87600           5.0
72892           1.0
65837           1.0
76463           1.0
Name: al mes, Length: 44489, dtype: float64

In [71]:
salariosmensualtrabajan = salariosmensualtrabajan.rename(columns={"ID_PER": "Identificador de la mujer"}, errors="raise")

In [72]:
salariosmensualtrabajan

       Identificador de la mujer  P4_1    P4_2 P4_2_1  al mes
4                0100004.01.1.02     1   400.0      1  1600.0
5                0100004.02.1.01     1  1000.0      1  4000.0
6                0100004.03.1.02     1  1000.0      1  4000.0
12               0100032.01.1.01     1  1200.0      1  4800.0
16               0100032.05.1.02     1  1000.0      1  4000.0
...                          ...   ...     ...    ...     ...
98760            2901827.04.1.02     1  2000.0      8  2000.0
100103           3001708.05.1.02     1   200.0      8   200.0
104458           3102215.03.1.03     1   200.0      8   200.0
106350           3160334.13.1.02     1  1500.0      8  1500.0
109930           3260714.10.1.02     1  5000.0      8  5000.0

[44489 rows x 5 columns]

In [73]:
salariosmensualtrabajan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44489 entries, 4 to 109930
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identificador de la mujer  44489 non-null  object
 1   P4_1                       44489 non-null  int64
 2   P4_2                       44489 non-null  float64
 3   P4_2_1                     44489 non-null  object
 4   al mes                     44489 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.0+ MB

In [74]:
salariosmensualtrabajan = salariosmensualtrabajan[ (salariosmensualtrabajan['al mes'] < 71000.0) ]

In [75]:
salariosmensualtrabajan.shape

(44450, 5)

In [79]:
salariosmensualtrabajan['rango_s']=pd.cut(salariosmensualtrabajan['al mes'], 10, precision=0, right=False)

C:\Users\cynhe\AppData\Local\Temp\ipykernel_19492\2603549467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salariosmensualtrabajan['rango_s']=pd.cut(salariosmensualtrabajan['al mes'], 10, precision=0, right=False)

In [80]:
salariosmensualtrabajan

       Identificador de la mujer  P4_1    P4_2 P4_2_1  al mes        rango_s
4                0100004.01.1.02     1   400.0      1  1600.0  [1.0, 7001.0)
5                0100004.02.1.01     1  1000.0      1  4000.0  [1.0, 7001.0)
6                0100004.03.1.02     1  1000.0      1  4000.0  [1.0, 7001.0)
12               0100032.01.1.01     1  1200.0      1  4800.0  [1.0, 7001.0)
16               0100032.05.1.02     1  1000.0      1  4000.0  [1.0, 7001.0)
...                          ...   ...     ...    ...     ...            ...
98760            2901827.04.1.02     1  2000.0      8  2000.0  [1.0, 7001.0)
100103           3001708.05.1.02     1   200.0      8   200.0  [1.0, 7001.0)
104458           3102215.03.1.03     1   200.0      8   200.0  [1.0, 7001.0)
106350           3160334.13.1.02     1  1500.0      8  1500.0  [1.0, 7001.0)
109930           3260714.10.1.02     1  5000.0      8  5000.0  [1.0, 7001.0)

[44450 rows x 6 columns]

In [104]:
salariosmensualtrabajan

       Identificador de la mujer  P4_1    P4_2 P4_2_1  al mes        rango_s
4                0100004.01.1.02     1   400.0      1  1600.0  [1.0, 7001.0)
5                0100004.02.1.01     1  1000.0      1  4000.0  [1.0, 7001.0)
6                0100004.03.1.02     1  1000.0      1  4000.0  [1.0, 7001.0)
12               0100032.01.1.01     1  1200.0      1  4800.0  [1.0, 7001.0)
16               0100032.05.1.02     1  1000.0      1  4000.0  [1.0, 7001.0)
...                          ...   ...     ...    ...     ...            ...
98760            2901827.04.1.02     1  2000.0      8  2000.0  [1.0, 7001.0)
100103           3001708.05.1.02     1   200.0      8   200.0  [1.0, 7001.0)
104458           3102215.03.1.03     1   200.0      8   200.0  [1.0, 7001.0)
106350           3160334.13.1.02     1  1500.0      8  1500.0  [1.0, 7001.0)
109930           3260714.10.1.02     1  5000.0      8  5000.0  [1.0, 7001.0)

[44450 rows x 6 columns]

In [112]:
salariosmensualtrabajan1 = salariosmensualtrabajan.groupby('rango_s').count().reset_index()

In [113]:
salariosmensualtrabajan1['percent'] = (salariosmensualtrabajan1['P4_1'] / salariosmensualtrabajan1['P4_1'].sum()) * 100

In [114]:
salariosmensualtrabajan1

,rango_s,Identificador de la mujer,P4_1,P4_2,P4_2_1,al mes,percent
0,"[1.0, 7001.0)",30979,30979,30979,30979,30979,69.694038
1,"[7001.0, 14001.0)",9912,9912,9912,9912,9912,22.299213
2,"[14001.0, 21001.0)",2443,2443,2443,2443,2443,5.496063
3,"[21001.0, 28001.0)",504,504,504,504,504,1.133858
4,"[28001.0, 35000.0)",333,333,333,333,333,0.749156
5,"[35000.0, 42000.0)",162,162,162,162,162,0.364454
6,"[42000.0, 49000.0)",31,31,31,31,31,0.069741
7,"[49000.0, 56000.0)",60,60,60,60,60,0.134983
8,"[56000.0, 63000.0)",19,19,19,19,19,0.042745
9,"[63000.0, 70070.0)",7,7,7,7,7,0.015748

In [117]:
salariosmensualtrabajan1['rango_s']=salariosmensualtrabajan1['rango_s'].astype(object)

In [118]:
#salariosmensualtrabajan1.to_csv('./salariosmensualtrabajan1_periodicidad.csv')

Tabla mujeres que trabajan

In [28]:
trabaja = final[final['Situación laboral'] == '1']
trabaja.head()

,Unnamed: 0.1,Edad,Identificador de la mujer,Identificador de vivienda seleccionada,Factor de expansión de la vivienda,Factor de expansión mujer,Situación laboral,Salario,Autonomía para usar los recursos monetarios en lo que se desee,Aporte económico por parte de la pareja o expareja de la informante,Cantidad de la aportación económica,Ingreso por jubilación o pensión,Ingreso por parte de familiares o conocidos que vivan en Estados Unidos de América,Ingreso por parte de familiares o conocidos que viven dentro del país.,Ingreso por beca escolar para sus hijos e hijas,Ingreso por beca escolar propia,Ingreso por pertenecer a algún programa del gobierno,Ingreso por otro medio,Unnamed: 0,"Avergonzamiento, ofensa, menosprecio o humillación",Invisibilización y falta de cariño,Afirmación de engaño,Sensación de miedo,Amenazas,Encerramiento y prohibiciones,Acecho,Controlar,Amenaza con arma o de quemadura,"Amenaza de homicidio, suicidio o filicidio",Destruir u ocultar artículos personales o del hogar,Ignorar,Revisar el correo electrónico o celular,Manipular a hijos y parientes,Inconformidad por quehaceres domésticos,Intimidación y acecho psicológico por medios digitales o mediáticos en la relación de pareja,Factor de expansión de las mujeres elegidas,rango_edad
0,0,32,01000031.12,1000031,113,113,1,10000,1,1,6000,2,2,2,2,2,2,2,0,4,4,4,2,4,4,4,4,4,4,4,4,4,4,4,4,113,De 26 a 36
3,3,24,01000035.12,1000035,113,113,1,8500,1,nan,nan,2,2,2,2,2,2,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,nan,nan,4,113,De 15 a 25
4,4,61,01000041.12,1000041,78,155,1,400,1,2,nan,2,2,2,2,2,2,2,4,4,4,4,4,4,3,2,4,4,4,1,1,4,4,3,4,155,De 57 a 67
5,5,68,01000042.11,1000042,78,78,1,1000,1,nan,nan,1,2,2,2,2,1,2,5,4,4,4,4,4,2,4,4,4,2,2,2,4,4,4,4,78,De 68 a 77
6,6,40,01000043.12,1000043,78,78,1,1000,1,2,nan,2,2,2,2,2,2,2,6,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,78,De 37 a 46

In [29]:
trabaja['Salario'].replace({'999,997':'Nan', '000,000':'Nan', '999,998':'Nan'})

0           10000
3            8500
4             400
5            1000
6            1000
           ...
110115       3000
110120       4000
110121        200
110122    No sabe
110123        750
Name: Salario, Length: 48980, dtype: object

In [30]:
trabaja['Salario']=pd.to_numeric(trabaja['Salario'], errors='coerce')
trabaja.head()

C:\Users\cynhe\AppData\Local\Temp\ipykernel_19492\212444706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trabaja['Salario']=pd.to_numeric(trabaja['Salario'], errors='coerce')

,Unnamed: 0.1,Edad,Identificador de la mujer,Identificador de vivienda seleccionada,Factor de expansión de la vivienda,Factor de expansión mujer,Situación laboral,Salario,Autonomía para usar los recursos monetarios en lo que se desee,Aporte económico por parte de la pareja o expareja de la informante,Cantidad de la aportación económica,Ingreso por jubilación o pensión,Ingreso por parte de familiares o conocidos que vivan en Estados Unidos de América,Ingreso por parte de familiares o conocidos que viven dentro del país.,Ingreso por beca escolar para sus hijos e hijas,Ingreso por beca escolar propia,Ingreso por pertenecer a algún programa del gobierno,Ingreso por otro medio,Unnamed: 0,"Avergonzamiento, ofensa, menosprecio o humillación",Invisibilización y falta de cariño,Afirmación de engaño,Sensación de miedo,Amenazas,Encerramiento y prohibiciones,Acecho,Controlar,Amenaza con arma o de quemadura,"Amenaza de homicidio, suicidio o filicidio",Destruir u ocultar artículos personales o del hogar,Ignorar,Revisar el correo electrónico o celular,Manipular a hijos y parientes,Inconformidad por quehaceres domésticos,Intimidación y acecho psicológico por medios digitales o mediáticos en la relación de pareja,Factor de expansión de las mujeres elegidas,rango_edad
0,0,32,01000031.12,1000031,113,113,1,10000.0,1,1,6000,2,2,2,2,2,2,2,0,4,4,4,2,4,4,4,4,4,4,4,4,4,4,4,4,113,De 26 a 36
3,3,24,01000035.12,1000035,113,113,1,8500.0,1,nan,nan,2,2,2,2,2,2,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,nan,nan,4,113,De 15 a 25
4,4,61,01000041.12,1000041,78,155,1,400.0,1,2,nan,2,2,2,2,2,2,2,4,4,4,4,4,4,3,2,4,4,4,1,1,4,4,3,4,155,De 57 a 67
5,5,68,01000042.11,1000042,78,78,1,1000.0,1,nan,nan,1,2,2,2,2,1,2,5,4,4,4,4,4,2,4,4,4,2,2,2,4,4,4,4,78,De 68 a 77
6,6,40,01000043.12,1000043,78,78,1,1000.0,1,2,nan,2,2,2,2,2,2,2,6,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,78,De 37 a 46

In [85]:
edad= trabaja[['rango_edad', 'Identificador de la mujer']]

Crear el rango de salarios

In [31]:
id = trabaja.filter(like ='Identificador de la mujer', axis=1)
id

       Identificador de la mujer
0                    01000031.12
3                    01000035.12
4                    01000041.12
5                    01000042.11
6                    01000043.12
...                          ...
110115               32607874.12
110120               32607879.12
110121             3260787.13.11
110122             3260787.14.12
110123             3260787.15.12

[48980 rows x 1 columns]

In [32]:
id_viol= trabaja.loc[:,'Avergonzamiento, ofensa, menosprecio o humillación':'rango_edad']

In [36]:
id_viol1=pd.concat([id,id_viol],axis=1)

In [52]:
id_viol1

,Identificador de la mujer,"Avergonzamiento, ofensa, menosprecio o humillación",Invisibilización y falta de cariño,Afirmación de engaño,Sensación de miedo,Amenazas,Encerramiento y prohibiciones,Acecho,Controlar,Amenaza con arma o de quemadura,"Amenaza de homicidio, suicidio o filicidio",Destruir u ocultar artículos personales o del hogar,Ignorar,Revisar el correo electrónico o celular,Manipular a hijos y parientes,Inconformidad por quehaceres domésticos,Intimidación y acecho psicológico por medios digitales o mediáticos en la relación de pareja,Factor de expansión de las mujeres elegidas,rango_edad
0,01000031.12,4,4,4,2,4,4,4,4,4,4,4,4,4,4,4,4,113,De 26 a 36
3,01000035.12,4,4,4,4,4,4,4,4,4,4,4,4,4,nan,nan,4,113,De 15 a 25
4,01000041.12,4,4,4,4,4,3,2,4,4,4,1,1,4,4,3,4,155,De 57 a 67
5,01000042.11,4,4,4,4,4,2,4,4,4,2,2,2,4,4,4,4,78,De 68 a 77
6,01000043.12,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,78,De 37 a 46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110115,32607874.12,4,1,2,1,4,4,4,4,4,4,4,1,1,4,4,4,64,De 26 a 36
110120,32607879.12,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,64,De 26 a 36
110121,3260787.13.11,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,64,De 68 a 77
110122,3260787.14.12,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,128,De 57 a 67
110123,3260787.15.12,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,64,De 37 a 46

In [55]:
#id_viol2 = id_viol2[ (id_viol2['al mes'] < 71000.0) ]

In [46]:
salariosparamelt= id_viol2.loc[:,'rango_edad':'rango_s']

In [47]:
salariosparamelt.groupby('rango_s').count().reset_index()

              rango_s  rango_edad  P4_1  P4_2  P4_2_1  al mes
0     [800.0, 1920.0)           1     1     1       1       1
1    [1920.0, 3040.0)           3     3     3       3       3
2    [3040.0, 4160.0)           4     4     4       4       4
3    [4160.0, 5280.0)           5     5     5       5       5
4    [5280.0, 6400.0)           1     1     1       1       1
5    [6400.0, 7520.0)           0     0     0       0       0
6    [7520.0, 8640.0)           0     0     0       0       0
7    [8640.0, 9760.0)           0     0     0       0       0
8   [9760.0, 10880.0)           0     0     0       0       0
9  [10880.0, 12011.0)           1     1     1       1       1

In [ ]:
salariosdropmelt2 = salariosdropmelt.groupby('rango_s').count().reset_index()

In [ ]:
salario=trabaja.filter(like='Salario', axis=1)
salario

        Salario
0       10000.0
3        8500.0
4         400.0
5        1000.0
6        1000.0
...         ...
110115   3000.0
110120   4000.0
110121    200.0
110122      NaN
110123    750.0

[48980 rows x 1 columns]

In [ ]:
#salario_viol=pd.concat([salariosmensualtrabajan, id_viol], axis=1 )

In [40]:
#salario_viol

In [ ]:
salariosdrop = trabaja[ (trabaja['Salario'] < 71000.0) ]

In [ ]:
salariosdrop.head()

,Unnamed: 0.1,Edad,Identificador de la mujer,Identificador de vivienda seleccionada,Factor de expansión de la vivienda,Factor de expansión mujer,Situación laboral,Salario,Autonomía para usar los recursos monetarios en lo que se desee,Aporte económico por parte de la pareja o expareja de la informante,Cantidad de la aportación económica,Ingreso por jubilación o pensión,Ingreso por parte de familiares o conocidos que vivan en Estados Unidos de América,Ingreso por parte de familiares o conocidos que viven dentro del país.,Ingreso por beca escolar para sus hijos e hijas,Ingreso por beca escolar propia,Ingreso por pertenecer a algún programa del gobierno,Ingreso por otro medio,Unnamed: 0,"Avergonzamiento, ofensa, menosprecio o humillación",Invisibilización y falta de cariño,Afirmación de engaño,Sensación de miedo,Amenazas,Encerramiento y prohibiciones,Acecho,Controlar,Amenaza con arma o de quemadura,"Amenaza de homicidio, suicidio o filicidio",Destruir u ocultar artículos personales o del hogar,Ignorar,Revisar el correo electrónico o celular,Manipular a hijos y parientes,Inconformidad por quehaceres domésticos,Intimidación y acecho psicológico por medios digitales o mediáticos en la relación de pareja,Factor de expansión de las mujeres elegidas,rango_edad
0,0,32,01000031.12,1000031,113,113,1,10000.0,1,1,6000,2,2,2,2,2,2,2,0,4,4,4,2,4,4,4,4,4,4,4,4,4,4,4,4,113,De 26 a 36
3,3,24,01000035.12,1000035,113,113,1,8500.0,1,nan,nan,2,2,2,2,2,2,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,nan,nan,4,113,De 15 a 25
4,4,61,01000041.12,1000041,78,155,1,400.0,1,2,nan,2,2,2,2,2,2,2,4,4,4,4,4,4,3,2,4,4,4,1,1,4,4,3,4,155,De 57 a 67
5,5,68,01000042.11,1000042,78,78,1,1000.0,1,nan,nan,1,2,2,2,2,1,2,5,4,4,4,4,4,2,4,4,4,2,2,2,4,4,4,4,78,De 68 a 77
6,6,40,01000043.12,1000043,78,78,1,1000.0,1,2,nan,2,2,2,2,2,2,2,6,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,78,De 37 a 46

Crear una columna de rangos de salario

In [ ]:
salariosdrop['rango_s']=pd.cut(salariosdrop.Salario, 10, precision=0, right=False)

C:\Users\cynhe\AppData\Local\Temp\ipykernel_28992\2163960532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salariosdrop['rango_s']=pd.cut(salariosdrop.Salario, 10, precision=0, right=False)

In [ ]:
salariosdrop.head()

,Unnamed: 0.1,Edad,Identificador de la mujer,Identificador de vivienda seleccionada,Factor de expansión de la vivienda,Factor de expansión mujer,Situación laboral,Salario,Autonomía para usar los recursos monetarios en lo que se desee,Aporte económico por parte de la pareja o expareja de la informante,Cantidad de la aportación económica,Ingreso por jubilación o pensión,Ingreso por parte de familiares o conocidos que vivan en Estados Unidos de América,Ingreso por parte de familiares o conocidos que viven dentro del país.,Ingreso por beca escolar para sus hijos e hijas,Ingreso por beca escolar propia,Ingreso por pertenecer a algún programa del gobierno,Ingreso por otro medio,Unnamed: 0,"Avergonzamiento, ofensa, menosprecio o humillación",Invisibilización y falta de cariño,Afirmación de engaño,Sensación de miedo,Amenazas,Encerramiento y prohibiciones,Acecho,Controlar,Amenaza con arma o de quemadura,"Amenaza de homicidio, suicidio o filicidio",Destruir u ocultar artículos personales o del hogar,Ignorar,Revisar el correo electrónico o celular,Manipular a hijos y parientes,Inconformidad por quehaceres domésticos,Intimidación y acecho psicológico por medios digitales o mediáticos en la relación de pareja,Factor de expansión de las mujeres elegidas,rango_edad,rango_s
0,0,32,01000031.12,1000031,113,113,1,10000.0,1,1,6000,2,2,2,2,2,2,2,0,4,4,4,2,4,4,4,4,4,4,4,4,4,4,4,4,113,De 26 a 36,"[7000.0, 14000.0)"
3,3,24,01000035.12,1000035,113,113,1,8500.0,1,nan,nan,2,2,2,2,2,2,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,nan,nan,4,113,De 15 a 25,"[7000.0, 14000.0)"
4,4,61,01000041.12,1000041,78,155,1,400.0,1,2,nan,2,2,2,2,2,2,2,4,4,4,4,4,4,3,2,4,4,4,1,1,4,4,3,4,155,De 57 a 67,"[0.0, 7000.0)"
5,5,68,01000042.11,1000042,78,78,1,1000.0,1,nan,nan,1,2,2,2,2,1,2,5,4,4,4,4,4,2,4,4,4,2,2,2,4,4,4,4,78,De 68 a 77,"[0.0, 7000.0)"
6,6,40,01000043.12,1000043,78,78,1,1000.0,1,2,nan,2,2,2,2,2,2,2,6,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,78,De 37 a 46,"[0.0, 7000.0)"

In [ ]:

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [ ]:
salariosdrop['rango_edad']=salariosdrop['rango_edad'].astype(object)

C:\Users\cynhe\AppData\Local\Temp\ipykernel_28992\2976817418.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salariosdrop['rango_edad']=salariosdrop['rango_edad'].astype(object)

In [ ]:
salariosdrop['rango_s']=salariosdrop['rango_s'].astype(object)

C:\Users\cynhe\AppData\Local\Temp\ipykernel_28992\1157611287.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salariosdrop['rango_s']=salariosdrop['rango_s'].astype(object)

In [ ]:
salariosdropmelt = salariosdrop.loc[:,'Factor de expansión de las mujeres elegidas':'rango_s']

In [ ]:
salariosdropmelt.melt(id_vars=['rango_s', 'rango_edad'])

,rango_s,rango_edad,variable,value
0,"[7000.0, 14000.0)",De 26 a 36,Factor de expansión de las mujeres elegidas,113
1,"[7000.0, 14000.0)",De 15 a 25,Factor de expansión de las mujeres elegidas,113
2,"[0.0, 7000.0)",De 57 a 67,Factor de expansión de las mujeres elegidas,155
3,"[0.0, 7000.0)",De 68 a 77,Factor de expansión de las mujeres elegidas,78
4,"[0.0, 7000.0)",De 37 a 46,Factor de expansión de las mujeres elegidas,78
...,...,...,...,...
44893,"[0.0, 7000.0)",De 26 a 36,Factor de expansión de las mujeres elegidas,64
44894,"[0.0, 7000.0)",De 26 a 36,Factor de expansión de las mujeres elegidas,64
44895,"[0.0, 7000.0)",De 26 a 36,Factor de expansión de las mujeres elegidas,64
44896,"[0.0, 7000.0)",De 68 a 77,Factor de expansión de las mujeres elegidas,64
44897,"[0.0, 7000.0)",De 37 a 46,Factor de expansión de las mujeres elegidas,64

In [ ]:
salariosdropmelt2 = salariosdropmelt.groupby('rango_s').count().reset_index()

In [ ]:
salariosdropmelt2.rango_edad.sum()

44898

In [ ]:
salariosdropmelt2

              rango_s  Factor de expansión de las mujeres elegidas  rango_edad
0       [0.0, 7000.0)                                        37430       37430
1   [7000.0, 14000.0)                                         4962        4962
2  [14000.0, 21000.0)                                         1784        1784
3  [21000.0, 28000.0)                                          297         297
4  [28000.0, 35000.0)                                          225         225
5  [35000.0, 42000.0)                                          113         113
6  [42000.0, 49000.0)                                           15          15
7  [49000.0, 56000.0)                                           55          55
8  [56000.0, 63000.0)                                           11          11
9  [63000.0, 70070.0)                                            6           6

In [ ]:
salariosdropmelt2['percent'] = (salariosdropmelt2['rango_edad'] / salariosdropmelt2['rango_edad'].sum()) * 100

In [ ]:
salariosdropmelt2

,rango_s,Factor de expansión de las mujeres elegidas,rango_edad,percent
0,"[0.0, 7000.0)",37430,37430,83.366742
1,"[7000.0, 14000.0)",4962,4962,11.051717
2,"[14000.0, 21000.0)",1784,1784,3.973451
3,"[21000.0, 28000.0)",297,297,0.661499
4,"[28000.0, 35000.0)",225,225,0.501136
5,"[35000.0, 42000.0)",113,113,0.251682
6,"[42000.0, 49000.0)",15,15,0.033409
7,"[49000.0, 56000.0)",55,55,0.122500
8,"[56000.0, 63000.0)",11,11,0.024500
9,"[63000.0, 70070.0)",6,6,0.013364

In [ ]:
salariosdropmelt2['rango_s']=salariosdropmelt2['rango_s'].astype(str)

In [ ]:
alt.Chart(salariosdropmelt2).mark_bar().encode(
    x='rango_s',
    y='percent',
    color='rango_s'
)

alt.Chart(...)

In [ ]:
salariosdropmelt2.to_csv('./Salariostotales_Mtrabajan.csv')

Quitar columnas que no sirven

Agregar columna sobre importancia de la violencia vivida

Mostrar las mujeres que no tienen salario. Ver si reciben ingreso por ayuda gubernamental, y su condicion de autonomía

In [ ]:
resultMelt = salariosdrop.melt(
  id_vars=salariosdrop.columns[:5].tolist()+['rango_edad', 'rango_s']
)